.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .categories-container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .categories-container {
    flex-direction: column;
  }
}
